<mat-card class="stage-details">
  <mat-card-header>
    <div
      mat-card-avatar
      *ngIf="stageDetails$ | async as selectedStage; else noStageAvatar"
    >
      <div class="stage-avatar" [class.no-avatar]="selectedStage"></div>
    </div>
    <ng-template #noStageAvatar>
      <div mat-card-avatar>
        <div class="stage-avatar"></div>
      </div>
    </ng-template>
    <mat-card-title>Stage Details</mat-card-title>
  </mat-card-header>
  <form
    [formGroup]="updateStageForm"
    (ngSubmit)="update()"
    *ngIf="stageDetails$ | async as selectedStage"
  >
    <input type="hidden" formControlName="_id" />
    <mat-card-content>
      <mat-form-field class="stage-name">
        <input
          matInput
          formControlName="name"
          placeholder="Stage name"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="stage-type">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option
            *ngFor="let type of stageTypes"
            [value]="type.type"
            required
          >
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="stage-image">
        <input
          matInput
          formControlName="image"
          placeholder="Image"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="stage-roster">
        <input
          matInput
          formControlName="roster"
          placeholder="Roster position"
          type="number"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        aria-label="Update Stage"
      >
        <mat-icon>done</mat-icon> <span>Update</span>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
