.list-item-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
mat-list-item {
  &.selected {
    background-color: #f6f6f6;
  }
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

mat-form-field {
  margin-right: 0.5rem;
}
.player-team {
  width: 7.5rem;
}
