<div class="players-list">
  <mat-list>
    <mat-list-item
      matRipple
      *ngFor="let player of players$ | async; trackBy: trackByPlayerId"
      [class.selected]="player?._id === selectedPlayer?._id"
      (click)="select(player)"
    >
      <div class="list-item-content">
        <span class="list-item-label">
          {{ player.playername | playerName: player.teamname }}
        </span>
      </div>
      <button
        class="delete"
        mat-icon-button
        aria-label="Delete player"
        (click)="delete($event, player)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
