:host {
  display: grid;
  grid-template-areas: "header" "app-content";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  width: 100vw;
  height: 100vh;

  app-header {
    grid-area: header;
    padding: 1rem;
  }
  app-content {
  }
  .aside-content {
    grid-area: app-content;
  }
}
