<app-layout>
  <app-header [userName]="(currentUser$ | async).username"></app-header>
  <app-content>
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" opened *ngIf="(currentUser$ | async)">
        <mat-nav-list>
          <ng-container *ngFor="let navItem of navItems">
            <a mat-list-item [routerLink]="[navItem.route]"
              [routerLinkActive]="'active'"
              *ngIf="!navItem.disabled; else textListItem">
              {{ navItem.label }}
            </a>
            <ng-template #textListItem>
              <a mat-list-item [class.disabled]="navItem.disabled">
                {{ navItem.label }}
              </a>
            </ng-template>
          </ng-container>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </app-content>
</app-layout>
