mat-sidenav-container {
  height: 100%;
}
mat-sidenav {
  width: 12rem;
  padding: 1rem;
}
mat-sidenav-content {
  padding: 1rem;
}
.mat-list-item {
  &.active {
    background-color: rgba(0, 0, 0, 0.06);
  }
  &.disabled {
    color: rgba(0, 0, 0, 0.37);
  }
}
