<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h2>{{ app$.title }}</h2>
    <span class="toolbar-spacer">
      <ng-content></ng-content>
    </span>
    <div class="actions">
      <span *ngIf="userName">
        {{ userName }} (<a (click)="logout()">logout</a>)
      </span>
      <a mat-flat-button routerLink="/scoreboard" aria-label="Launch Scoreboard">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
