<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Player Details</mat-card-title>
  </mat-card-header>
  <form [formGroup]="updatePlayerForm" (ngSubmit)="update()">
    <input type="hidden" formControlName="_id" />
    <mat-card-content>
      <mat-form-field class="player-name">
        <input
          matInput
          formControlName="playername"
          placeholder="Name"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="player-team">
        <input
          matInput
          formControlName="teamname"
          placeholder="Team"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="player-character">
        <input
          matInput
          formControlName="character"
          placeholder="Character"
          type="text"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        aria-label="Update Player"
      >
        <mat-icon>done</mat-icon> <span>Update</span>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
