:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

mat-tab-group {
  max-width: 40vw;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0;
}

.form-actions {
  display: flex;
  align-items: center;
}
.submit-status {
  display: flex;
  font-size: smaller;
  padding: 0 1rem;
  span {
    padding-left: 0.6rem;
  }
}

.register-success {
  background-color: #eee;
  display: block;
  padding: 0.8rem;
  line-height: 1.4rem;
  margin: 0.6rem 0;
}
