<h1>
  <span>BB Smashboard</span>
</h1>
<mat-tab-group
  (selectedIndexChange)="selectedTab.next($event)"
  [selectedIndex]="selectedTab | async"
  mat-stretch-tabs
>
  <mat-tab label="Login">
    <span class="register-success" *ngIf="formRegisterState.submitted === true"
      >Now you are a registered Smash Player!<br />Log in with your new username
      and password.</span
    >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
      <mat-form-field class="username" required>
        <input
          matInput
          #username
          formControlName="username"
          placeholder="Username"
          type="text"
        />
        <mat-error *ngIf="registerForm.hasError('required')">
          <span>Username is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="password" required>
        <input
          matInput
          #password
          formControlName="password"
          placeholder="Password"
          type="password"
        />
        <mat-error *ngIf="registerForm.hasError('required')">
          <span>Password is required</span>
        </mat-error>
      </mat-form-field>
      <div class="form-actions">
        <button
          mat-raised-button
          color="primary"
          [disabled]="formLoginState.loading"
        >
          Login
        </button>
        <div class="submit-status" *ngIf="formLoginState.loading">
          <mat-spinner diameter="16"></mat-spinner>
          <span>Loggin' you in..</span>
        </div>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Register">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
      <mat-form-field class="username">
        <input
          matInput
          #username
          formControlName="username"
          placeholder="Username"
          type="email"
          required
        />
        <mat-error *ngIf="registerForm.hasError('required')">
          <span>Username is required</span>
        </mat-error>
        <mat-error
          *ngIf="
            registerForm.hasError('email') && !registerForm.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="password">
        <input
          matInput
          #password
          formControlName="password"
          placeholder="Password"
          type="password"
          required
        />
        <mat-error *ngIf="registerForm.hasError('required')">
          <span>Password is required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="team-name">
        <input
          matInput
          #team
          formControlName="teamname"
          placeholder="Team Name"
          type="text"
          required
        />
      </mat-form-field>
      <mat-form-field class="player-name">
        <input
          matInput
          #player
          formControlName="playername"
          placeholder="Player Name"
          type="text"
          required
        />
      </mat-form-field>

      <div class="form-actions">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="formRegisterState.loading || formRegisterState.disabled"
        >
          Register
        </button>
        <div
          class="submit-status"
          *ngIf="formRegisterState.loading && formRegisterState.submitted"
        >
          <mat-spinner diameter="16"></mat-spinner>
          <span>Signin' you up..</span>
        </div>
        <div
          class="submit-status"
          *ngIf="!formRegisterState.loading && formRegisterState.submitted"
        ></div>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
