<div class="stages-list">
  <ng-container *ngIf="stagesList$ | async as stagesList">
    <mat-grid-list cols="4" *ngIf="stagesList.length > 0; else noStages">
      <mat-grid-tile
        *ngFor="let stage of stagesList"
        [class.selected]="(selectedStage$ | async) === stage._id"
      >
        <a class="stage" [ngStyle]="stage.styles" (click)="select(stage._id)">
          <div class="stage-name">
            <span>{{ stage.name }}</span>
          </div>
          <div class="list-item-controls">
            <mat-icon aria-label="Delete" (click)="delete(stage)"
              >delete</mat-icon
            >
          </div>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
    <ng-template #noStages>
      <p>No stages found.</p>
    </ng-template>
  </ng-container>
</div>
