<div class="content-header">
  <h2>{{ appHeader }}</h2>
</div>
<div class="manage-form">
  <div class="col-1">
    <mat-accordion multi="true">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            List of Stages
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-stages-list (selectStage)="selectStage($event)"></app-stages-list>
      </mat-expansion-panel>
      <mat-expansion-panel class="add-single-stage">
        <mat-expansion-panel-header>
          <mat-panel-title>Add new Stage</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="createStageForm" (ngSubmit)="create()">
          <mat-form-field class="stage-name">
            <input
              matInput
              #stageName
              formControlName="name"
              placeholder="Stage Name"
              type="text"
            />
          </mat-form-field>
          <div class="stage-image">
            <input #stageImage formControlName="image" type="hidden" />
            <app-upload (uploaded)="uploadFinished($event)"></app-upload>
          </div>
          <div>
            <label id="stage-type-label">Stage Type:</label>
            <mat-radio-group
              #stageType
              formControlName="type"
              required="true"
              aria-labelledby="stage-type-label"
            >
              <mat-radio-button value="starter">Starter Stage</mat-radio-button>
              <mat-radio-button value="counter">Counter Pick</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field class="stage-roster">
            <input
              matInput
              #stageRoster
              formControlName="roster"
              placeholder="Roster Position"
              type="number"
            />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            aria-label="Save Stage"
          >
            <mat-icon>done</mat-icon>
            <span>Add Stage</span>
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-2">
    <app-stage-details
      *ngIf="selectedStage$ | async as selectedStageDetails"
      [stage]="selectedStageDetails"
    ></app-stage-details>
  </div>
</div>
