$shadow-distance: 1px;
$shadow-blur: 1px;
$shadow-color: rgb(0, 0, 0);

.content-header {
  padding: 0 1rem;
}
mat-form-field {
  width: 100%;
}
mat-radio-group {
  display: flex;
  flex-direction: column;
  mat-radio-button {
    margin: 0.5rem;
  }
}
mat-card-content {
  padding: 1rem 0;
}
dt {
  font-weight: bold;
}
.manage-form {
  display: flex;
  justify-content: space-between;
  padding: 0;
  > div {
    flex-grow: 1;
    padding: 1rem;
  }
  div.col-2 {
    width: 25%;
  }
  .stage-image {
    padding-bottom: 1.25rem;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.42);
    margin-bottom: 1.25rem;
  }
}

.stage-details {
  img {
    max-width: 100%;
  }
}
.stage-avatar {
  background: #fff center no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  &.no-avatar {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #eee;
    background-image: none;
  }
}
