.player-box {
  display: flex;
  align-items: stretch;
  height: 60px;
  font-family: "SquareFont", Arial, Helvetica, sans-serif;
  font-size: 16px;

  .player,
  .score {
    text-align: center;
    line-height: 60px;
  }
  .player {
    font-size: 2.4rem;
    background-color: #fff;
    color: #222;
    width: 24rem;
    margin-right: 0.4rem;
  }
  .score {
    font-size: 2.4rem;
    color: #fff;
    background-color: #222;
    width: 3rem;
  }
  .character-avatar {
    width: 60px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.right {
    flex-direction: row-reverse;
    .player {
      margin-left: 0.4rem;
      margin-right: 0;
    }
  }
}
