<div class="player-box"
  [class.right]="arrange === 2">
  <!-- <div class="character-avatar"
    [ngClass]="'stockicon-' + character"
    [ngStyle]="characterImage$"
  ></div> -->
  <div class="player">{{ name }}</div>
  <div class="score">{{ score }}</div>
</div>
