/* You can add global styles to this file, and also import other style files */
@import "./styles/normalize";
@import "./styles/typography";
@import "./styles/icons";
@import "./styles/layout";
@import "./styles/general";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
