<div class="content-header">
  <h2>{{ appHeader }}</h2>
</div>
<div class="manage-form">
  <div class="col-1">
    <mat-accordion multi="true">
      <mat-expansion-panel class="player-list" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Players</mat-panel-title>
        </mat-expansion-panel-header>

        <app-players-list
          (selectPlayer)="selectPlayer($event)"
        ></app-players-list>
      </mat-expansion-panel>
      <mat-expansion-panel class="player-list">
        <mat-expansion-panel-header>
          <mat-panel-title>Create Player</mat-panel-title>
        </mat-expansion-panel-header>

        <app-create-player></app-create-player>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-2">
    <app-player-details
      *ngIf="selectedPlayer$ | async as selectedPlayerDetails"
      [player]="selectedPlayerDetails"
    ></app-player-details>
  </div>
</div>
