.manage-form {
  display: flex;
  justify-content: space-between;
  padding: 0;
  .col-1,
  .col-2 {
    padding: 1rem;
  }
  .col-1 {
    flex-grow: 1;
  }
  .col-2 {
    width: 60%;
  }
}

.content-header {
  padding: 0 1rem;
}

.actions {
  button {
    margin-left: 0.6rem;
  }
}
