<div class="content-header">
  <h2>{{ appHeader }}</h2>
</div>
<div class="manage-form">
  <div class="col-1">
    <mat-accordion multi="true">
      <mat-expansion-panel class="add-games" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Add new Set</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="setForm" (ngSubmit)="createSet()">
          <mat-button-toggle-group
            formControlName="setType"
            #group="matButtonToggleGroup"
          >
            <mat-button-toggle value="1" aria-label="Best of 1"
              >Best of 1</mat-button-toggle
            >
            <mat-button-toggle value="3" aria-label="Best of 3"
              >Best of 3</mat-button-toggle
            >
            <mat-button-toggle value="5" aria-label="Best of 5"
              >Best of 5</mat-button-toggle
            >
          </mat-button-toggle-group>
          <div class="set-details">
            <div formGroupName="player1">
              <mat-form-field class="set-player-id">
                <mat-label>Player 1</mat-label>
                <mat-select formControlName="id">
                  <mat-option
                    *ngFor="let player of playersList$ | async"
                    [value]="player._id"
                  >
                    {{ player.playername | playerName: player.teamname }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="set-player-score">
                <input
                  matInput
                  #setPlayer1Score
                  formControlName="score"
                  placeholder="Score"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div formGroupName="player2">
              <mat-form-field class="set-player-id">
                <mat-label>Player 2</mat-label>
                <mat-select formControlName="id">
                  <mat-option
                    *ngFor="let player of playersList$ | async"
                    [value]="player._id"
                  >
                    {{ player.playername | playerName: player.teamname }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="set-player-score">
                <input
                  matInput
                  #setPlayer2Score
                  formControlName="score"
                  placeholder="Score"
                  type="text"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="game-details">
            <div formArrayName="games">
              <div *ngFor="let game of gameFormGroup.controls; let i = index">
                <div [formGroupName]="i">
                  <h4>Game {{ i + 1 }}</h4>
                  <div formGroupName="player1">
                    <input
                      formControlName="id"
                      placeholder="Player ID"
                      type="text"
                    />
                    <mat-form-field class="game-player-stocks">
                      <input
                        matInput
                        formControlName="stocks"
                        placeholder="Stocks"
                        type="text"
                      />
                    </mat-form-field>
                    <mat-form-field class="game-player-characters">
                      <input
                        matInput
                        formControlName="character"
                        placeholder="Character"
                        type="text"
                      />
                    </mat-form-field>
                  </div>
                  <div formGroupName="player2">
                    <input
                      formControlName="id"
                      placeholder="Player ID"
                      type="text"
                    />
                    <mat-form-field class="game-player-stocks">
                      <input
                        matInput
                        formControlName="stocks"
                        placeholder="Stocks"
                        type="text"
                      />
                    </mat-form-field>
                    <mat-form-field class="game-player-characters">
                      <input
                        matInput
                        formControlName="character"
                        placeholder="Character"
                        type="text"
                      />
                    </mat-form-field>
                  </div>
                  <mat-form-field class="game-stage">
                    <input
                      matInput
                      formControlName="stage"
                      placeholder="Stage"
                      type="text"
                    />
                  </mat-form-field>
                  <input
                    formControlName="winner"
                    placeholder="Winner"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            aria-label="Create Set"
          >
            <mat-icon>done</mat-icon>
            <span>Create Set</span>
          </button>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-panel-title>
          List of Games
        </mat-panel-title>
        <!-- <app-games-list></app-games-list> -->
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-2">
    <pre>{{ setForm.value | json }}</pre>
  </div>
</div>
